@import url(../styles.css);
.sub-container{
    display: flex;
    border: 1px solid red;
}

.sidebar-list{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 12rem;
    height: 80vh;
}
.sidebar-head{
    font-size:1.6rem;
    color: #333;
}
.sidebar-navbar{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: #333;
    border: 1px solid red;
    font-weight: 500;
}
.link:hover{
    color: black;
}
.doc-content{
    border:1px solid red;
    margin: 2rem;
    max-width:800px;
}
.content-title{
         color:#333;
         font-size: 2rem;
         font-weight: 900;
         margin-bottom: 1rem;
}
.content-subtitle{
    line-height: 27px;
    border: 1px solid red;
    color: #333;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;
}
.example-div{
    box-shadow:  rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
    background-color: #F5F7F9;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.alert-box{
    flex-direction: column;
}