@import url(../styles.css);
:root{
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    
}
nav{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 2rem 0.3rem;
    text-decoration: none;
    background-color: white;
   /* border-bottom:1px solid var(--grey-color); */
   box-shadow: 0px 1px 5px rgb(194, 193, 193);
   overflow: hidden;
    z-index: 3;
}

.left-nav a{
    text-decoration: none;
    color:#333;
    font-weight: 900;
    font-size: 1.2rem;
    padding-left: 10rem;
    /* border: 1px solid red; */

}
.left-nav a:hover{
    color: var(--primary-color);
}
.right-nav{
    display: flex;
    list-style-type:  none;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
   text-align: center;
}
.right-nav a{
    text-decoration: none;
    margin: 1rem;
    color: #333;
    font-weight: 600;
    /* cursor: pointer; */
    /* color: black; */
}
.icon{
    font-size: 1.2rem;
    cursor: pointer;
}
.icon:hover{
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}
.right-nav a:hover{
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}