@import url(../styles.css);
/* square image */
.sq-img{
    height: 12rem;
    width: 12rem;
    margin: 2rem;
    object-fit: cover;
}
/* round-image */
.round-img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    margin: 2rem;
    object-fit: cover;
}
/* responsive image */
.responsive-img{
    width: 100%;
    object-fit: cover;
    height: auto;
    /* padding: 2rem; */
}
